<% text = "<strong>#{tooltip_text[:title]}</strong><br/><span>#{tooltip_text[:action]}</span>".html_safe %>
<%= "<a class='material-icons tooltipped' data-position='top' data-delay='50' data-tooltip='#{text}' data-html='true'>info</a>".html_safe %>
