<div class="row">
  <div class="col s10 m8 offset-m2 offset-s1">
    <a class='material-icons' data-tip="I’m the tooltip text."> info </a>
    <!-- <a class="add-row-btn btn-floating btn-large waves-effect waves-light" onClick="addRow()"><i class="material-icons">add</i></a> -->
    <table class="contract-table striped bordered" border='1'>
      <thead>
        <tr>
          <th></th>
          <% ROLES.each do |k,v| %>
           <p><%=v[:action]%></p>
            <th><%= k %>  </th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% 10.times do %>
          <tr>
            <td><input type="text" placeholder="Enter line item.."/></td>
            <% ROLES.length.times do %>
              <td><input type="text" placeholder="Enter name.."/></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script type="text/javascript">
  const emptyRow = $('tbody').find('tr').clone();

  function addRow() {
    $('tbody tr').length <= 10 && $('.contract-table').find('tbody').append(emptyRow.clone());
  }

  $('input').on('focus', function() {
    initWidth = $(this).outerWidth() - ($(this).val().length*3)

    $(this).keyup(function(){
      var $this = $(this);
      var modifier = (($this.val().length)*3)
      var newWidth = initWidth + modifier;

      if (modifier === 0) {
        $this.css('width', initWidth);
      } else if (modifier > 30) {
        $this.css('width', newWidth);
      }
    })
  })
</script>


<style>
[data-tip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tip]:before,
[data-tip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tip]:hover:before,
[data-tip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
</style>
