<div class="row contract-table-container">
  <div class="col m10 offset-m1">
    <div class="col l6 m12 contract-title">
      <div class="input-field">
        <input type="text" class="validate" name="contract-title">
        <label for="contract-title">Add a Contract Title</label>
      </div>
    </div>
    <div class="col l8 m12 contract-description">
      <div class="input-field">
        <input type="text" class="validate" name="contract-description">
        <label for="contract-description">Add a Contract Description</label>
      </div>
    </div>
    <table class="contract-table striped bordered" border='1'>
      <thead>
        <tr>
          <th></th>
          <% ROLES.each do |k,v| %>
            <th><%= k %>
              <a class='material-icons'> info</a>
              <span class="role-tooltiptext"><%= v[:action] %></span>
            </th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% 10.times do %>
          <tr>
            <td><textarea placeholder="Add a line item.."></textarea></td>
            <% ROLES.length.times do %>
              <td><textarea></textarea></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script type="text/javascript">
  const emptyRow = $('tbody').find('tr').clone();

  function addRow() {
    $('tbody tr').length <= 10 && $('.contract-table').find('tbody').append(emptyRow.clone());
  }

  var $titleInput = $('.contract-title').find('input');
  var $descriptionInput = $('.contract-description').find('input');

  var ogTitleText = "Add a Contract Title";
  var ogDescText = "Add a Contract Description";

  $titleInput.focusin(function() {
    $titleInput.next().text('Contract Title');
  })

  $descriptionInput.focusin(function() {
    $descriptionInput.next().text('Description');
  })

  $titleInput.focusout(function() {
    $titleInput.val().length === 0 && $titleInput.next().text(ogTitleText);
  })

  $descriptionInput.focusout(function() {
    $descriptionInput.val().length === 0 && $descriptionInput.next().text(ogDescText);
  })


  // for when table didn't use text areas - leaving this in case we revert //
  ///////////////////////////////////////////////////////////////////////////
  // $('input').on('focus', function() {
  //   initWidth = $(this).outerWidth() - ($(this).val().length*3)
  //
  //   $(this).keyup(function(){
  //     var $this = $(this);
  //     var modifier = (($this.val().length)*3)
  //     var newWidth = initWidth + modifier;
  //
  //     if (modifier === 0) {
  //       $this.css('width', initWidth);
  //     } else if (modifier > 30) {
  //       $this.css('width', newWidth);
  //     }
  //   })
  // })
</script>
