@import "variables";

.add-row-btn {
  margin-bottom: 10px;
  background-color: $purple;

  &:hover {
    background-color: lighten($purple, 15%);
  }
}

.contract-table-container {

  .contract-title {
    .input-field input[type=text] {
      font-size: 2.5em;
    }
    .input-field label {
      color: $gray;
      font-size: 1.2em;
    }
  }

  .contract-description {
    margin-bottom: 20px;
    .input-field input[type=text] {
      font-size: 1.1em;
      color: $gray;
      // height: 2em;
    }

    .input-field label {
      color: $gray;
    }
  }
  /* label focus color */
  .input-field .validate[type=text]:focus + label {
    color: $purple;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid $purple;
    box-shadow: 0 1px 0 0 #000;
  }
  // for future reference if we want to use colors to show live validation checks!
  /* valid color */
  .input-field input[type=text].valid
   {
    border-bottom: 1px solid $purple;
    box-shadow: 0 1px 0 0 #000;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid $purple;
    box-shadow: 0 1px 0 0 #000;
  }
}

.contract-table {
  letter-spacing: 1.5px;

  thead {
    background-color: $brown;
    color: white;
    cursor: default;

    th {
      position: relative;
      border-radius: 0px;
      text-align: center;
      font-weight: lighter;
      padding: 6px 0px;
      padding-bottom: 8px;

      a {
        color: $blue;
        font-size: 20px;
      }
    }
  }

  tbody {

    tr {

      &:nth-child(even) {
        background-color: white;
      }

      &:last-child {
        border-bottom: 0px;
      }

      td {
        border-left: 1px $light-gray solid;
        border-right: 1px $light-gray solid;
        padding: 0px 0 0 0;

        &:last-child {
          border-right: 0px;
        }

        &:first-child {
          padding: 5px 0 0 0;
        }

        &:nth-child(1) {
          color: white;
          background-color: $purple;
          border: 0px;
          min-width: 200px;
          word-wrap: break-word;
          text-align: right;
          font-weight: lighter;
          // padding-right: 10px;
          textarea:first-child {
            color: white;
            text-align: right;
            padding-right: 10px;
          }
        }

        textarea {
          background: transparent;
          margin: 0px;
          border: 0px;
          padding: 0px;
          text-align: center;
          resize: none;
          height: 3.5em;
          outline: none;
        }

        textarea:not(.browser-default):focus:not([readonly]) {
          border: 0;
          box-shadow: none;
        }
      }
    }
  }
}

.icon-container {
  display: inline-block;
  position: relative;
}

.role-tooltiptext {
    visibility: hidden;
    width: 200px;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    background-color: rgba(255,255,255,.9);
    border: 2px solid $purple;
    color: black;
    position: absolute;
    bottom: 35px;
    right: -150%;
    z-index: 1;
}

th a:hover ~ .role-tooltiptext {
    visibility: visible;
}

.role-tooltiptext:after {
  position: absolute;
  bottom: -9px;
  left: 80%;
  margin-left: -9px;
  width: 0;
  border-top: 9px solid $purple;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

.save-contract-options {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 10px 0px;
  .user-links, .saved-contract-flash {
    padding-right: 10px;
  }
  #save-contract {
    font-size: 0.8rem;
  }
}
