@import "variables";

.add-row-btn {
  margin-bottom: 10px;
  background-color: $purple;

  &:hover {
    background-color: lighten($purple, 15%);
  }
}

.contract-table {
  letter-spacing: 1.5px;

  thead {
    background-color: $brown;
    color: white;

    th {
      border-radius: 0px;
      text-align: center;
      font-weight: lighter;

      a {
        color: $blue;
        font-size: 20px;
      }
    }
  }

  tbody {

    tr {

      &:nth-child(even) {
        background-color: white;
      }

      &:last-child {
        border-bottom: 0px;
      }

      td {
        border-left: 1px $light-gray solid;
        border-right: 1px $light-gray solid;
        padding: 5px 0;

        &:last-child {
          border-right: 0px;
        }

        &:nth-child(1) {
          color: white;
          background-color: $purple;
          border: 0px;
          min-width: 200px;
          word-wrap: break-word;
          text-align: right;
          font-weight: lighter;
          // padding-right: 10px;
          input[type=text]:first-child {
            color: white;
          }
        }

        input[type=text] {
          background: transparent;
          margin: 0px;
          border: 0px;
          text-align: center;
        }

        input[type=text]:not(.browser-default):focus:not([readonly]) {
          border: 0;
          box-shadow: none;
        }
      }
    }
  }
}
