$purple: #462b5d;
$light-blue: #f6feff;
$blue: #8eafdc;
$gray: #7e857e;
$light-gray: #c8ced1;
$tan: #ceab63;
$brown: #2d2117;
$black: #000000;
$main-font-stack: 'Helvetica Neue', 'Helvetica', 'Arial', 'san-serif';
$quote-font-stack: 'Garamond', 'Baskerville', 'Times New Roman', serif;
