/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_tree
 *= require_self
 */
@import 'normalize.min';
@import 'variables';
@import 'font_definitions';

 .flash_message {
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .danger {
   font-weight: bold;
   color: FireBrick;
 }

/* css for error exclamation point */
 .fa-exclamation-circle {
  color: black;
  margin: 3px;
 }

 #entire-page {
   margin-bottom: 0px;
 }

 #entire-page > .col {
   padding-left: 0px;
   padding-right: 0px;
 }

 .sidemenu, .top-nav {
   box-sizing: border-box;
   height: 75px;
 }

 .sidemenu {
   color: white;
   background-color: $brown;
   border-top: 8px $brown solid;
 }

 .sidemenu p {
   color: white;
 }

 .title-corner {
   border-bottom: 2px $light-gray solid;
 }

 .title-corner > * {
   padding-left: 20px;
   display: inline-block;
 }

 .sidemenu-content {
   color: white;
   background-color: $brown;
   height: calc(100vh - 74px);
 }

 .top-nav {
   display: flex;
   justify-content: flex-end;
   border: 8px $light-gray solid;
   border-bottom: 2px $light-gray solid;
   border-top-left-radius: 16px;
   border-top-right-radius: 16px;
   background-color: white;
 }

 .avatar-corner {
   display: flex;
   margin-right: 17px;
 }

 .avatar-corner * {
   align-self: center;
 }

 .avatar-corner p {
   display: inline-block;
   margin-right: 8px;
   position: relative;
   bottom: 6px;
 }

 .avatar-corner img {
   max-height: 52px;
   // border: 3px $purple solid;
   box-sizing: border-box;
   border-radius: 50%;
 }

 body {
   background-color: $light-gray;
 }

 .main-container {
   height: calc(100vh - 75px);
   background-color: $light-blue;
   border: 8px $light-gray solid;
   border-radius: 16px;
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
   border-top: none;
 }
