@import "variables";

.flash-container {
  padding-top: 30px;
  min-height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;

  .material-icons {
    color: $purple;
    margin-right: 20px;
  }

  ul {
    margin-top: 10px;
    margin-bottom: 0px;
  }

  ul > li {
    font-size: 1.2em;
    margin-bottom: 3px;

    &::before {
      content: "○ ";
      color: $purple;
    }
  }
}

#entire-page {
  margin-bottom: 0px;

  .row .col {
    padding-left: 0px;
    padding-right: 0px;
    min-height: none;
  }
}

#nav-bar {
  margin: 0;

  .title-corner, .top-nav {
    box-sizing: border-box;
    height: 75px;
  }

  .title-corner{
    color: white;
    background-color: $brown;
    border-top: 8px $brown solid;
    border-bottom: 2px $light-gray solid;

    a {
      color: white;
    }

    p {
      color: white;
      max-width: 1vw;
    }

    > * {
      padding-left: 20px;
      display: inline-block;
    }
  }

  .top-nav {
    display: flex;
    justify-content: space-between;
    border: 8px $light-gray solid;
    border-bottom: 2px $light-gray solid;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background-color: white;
    .page-title {
       letter-spacing: 5px;
       margin-left: 17px;
     }
    .avatar-corner {
      display: flex;
      margin-right: 17px;

      * {
        align-self: center;
      }

      p {
        display: inline-block;
        margin-right: 8px;
        position: relative;
        bottom: 6px;
      }

      img {
        max-height: 52px;
        box-sizing: border-box;
        border-radius: 50%;
      }
    }
  }
}

#main-body {
  margin: 0;
  position: relative;

  .sidemenu-content {
    color: white;
    background-color: $brown;
    min-height: calc(100vh - 74px);
  }

  .main-container {
    position: relative;
    min-height: calc(100vh - 75px);
    background-color: $light-blue;
    border: 8px $light-gray solid;
    border-radius: 16px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: none;
  }
}
