@import "variables";

.register-tooltiptext {
    visibility: hidden;
    width: 200px;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    background-color: rgba(255,255,255,1);
    border: 2px solid $purple;
    position: absolute;
    bottom: 20px;
    right: -220px;
    z-index: 1;
}

#username:focus ~ .register-tooltiptext,
#password:focus ~ .register-tooltiptext {
    visibility: visible;
}

.register-tooltiptext:after {
  position: absolute;
  bottom: 10px;
  left: 0;
  margin-left: -9px;
  width: 0;
  border-right: 9px solid $purple;
  border-bottom: 9px solid transparent;
  border-top: 9px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}
